<!doctype html>
<html lang="es"  xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student control</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand text-light" ><h3>¡Hola, <span th:text="${#authentication.principal.username}"></span>!</h3></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                </ul>

                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-outline-light" type="submit"><i class="bi bi-door-open-fill"></i> Salir</button>

                </form>
            </div>
        </div>
    </nav>
</header>








<div class="container">

    <div class="table-responsive">
        <table class="table caption-top" id="tblUsers">

            <div class="d-flex justify-content-center m-4">
                <h3>Listado de estudiantes</h3>
            </div>

            <thead>
            <tr>
                <th scope="col">Cedula</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Direccion</th>
                <th scope="col">Telefono</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>



            </tbody>
        </table>
    </div>



    <div class="d-grid gap-2 col-6 mx-auto m-5">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addNewUser">Nuevo Usuario</button>

    </div>

    <div class="modal" tabindex="-1" id="addNewUser">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ingresar Estudiante</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="add-user-form">

                        <div class="form-group">
                            <label for="cedula">Cedula</label>
                            <input type="text" class="form-control" id="cedula" name="cedula">
                        </div>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre">
                        </div>
                        <div class="form-group">
                            <label for="apellido">Apellido</label>
                            <input type="text" class="form-control" id="apellido" name="apellido">
                        </div>
                        <div class="form-group">
                            <label for="direccion">Direccion</label>
                            <input type="text" class="form-control" id="direccion" name="direccion">
                        </div>
                        <div class="form-group">
                            <label for="telefono">Telefono</label>
                            <input type="text" class="form-control" id="telefono" name="telefono">
                        </div>


                        <div class="d-flex justify-content-center m-3">

                            <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" id="editUser">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editar Estudiante</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="edit-user-form">
                        <div class="form-group">
                            <label for="cedula">Cedula</label>
                            <input type="text" class="form-control" id="ecedula" name="cedula" readonly>
                        </div>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="enombre" name="nombre">
                        </div>
                        <div class="form-group">
                            <label for="apellido">Apellido</label>
                            <input type="text" class="form-control" id="eapellido" name="apellido">
                        </div>
                        <div class="form-group">
                            <label for="direccion">Direccion</label>
                            <input type="text" class="form-control" id="edireccion" name="direccion">
                        </div>
                        <div class="form-group">
                            <label for="telefono">Telefono</label>
                            <input type="text" class="form-control" id="etelefono" name="telefono">
                        </div>


                        <div class="d-flex justify-content-center m-3">

                            <button type="submit" class="btn btn-primary">Edit</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>

</div>

<script >


    $(document).ready(function(){
        loadUsers();

    const token = eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxODUwNzAwMzM1IiwiaWF0IjoxNzA1MDQxNDg0fQ.oxRyvNlix9TpNHbASSZS-F-kNhbUrN09GB0cNTn48ZU;

        $("#add-user-form").submit(function(event){
    event.preventDefault(); // Evitar la recarga de la página

    var id = $('#cedula').val(); // Obtener la ID

    // Realizar una solicitud para verificar si la ID ya existe
    $.ajax({
        type: "GET",
        url: "https://services-project-production.up.railway.app/rest/get/"+ id, // Ruta para obtener un estudiante por ID
        dataType: "json",
        success: function(response) {
            // Si la ID existe, mostrar un mensaje de error
            if (response) {
                alert("La Cedula del estudiante ya existe.");
            } else {
                // Si la ID no existe, realizar la solicitud POST para agregar el nuevo registro
                $.ajax({
                    type: "POST",
                    url: "https://services-project-production.up.railway.app/rest/save/"+ id,
                    dataType: "json",
                    contentType: 'application/json',
                    data: JSON.stringify({
                        "nombre": $('#nombre').val(),
                        "apellido": $('#apellido').val(),
                        "direccion": $('#direccion').val(),
                        "telefono": $('#telefono').val()
                    }),
                    success: function(response) {
                         location.reload(); // Actualizar la tabla después de agregar un estudiante
                    },
                  
                });
            }
        },
        error: function(xhr, status, error) {
            // Si hay un error al verificar la existencia de la ID (404 - Recurso no encontrado), permite agregar el nuevo estudiante
            if (xhr.status === 404) {
                $.ajax({
                    type: "POST",
                    url: "https://services-project-production.up.railway.app/rest/save/"+ id,
                    dataType: "json",
                    contentType: 'application/json',
                    data: JSON.stringify({
                        "nombre": $('#nombre').val(),
                        "apellido": $('#apellido').val(),
                        "direccion": $('#direccion').val(),
                        "telefono": $('#telefono').val()
                    }),
                    success: function(response) {
                       
                        location.reload();
                        // Actualizar la tabla después de agregar un estudiante
                    },
                     error: function(xhr, status, error) {
        if(xhr.status === 500){
            alert("Error en formulario");
        }
    }
                   
                });
            } else {
                // Otros errores, como errores de red u otros, se manejan aquí
                var errorMessage = "Error desconocido";
                alert("Hubo un error: " + errorMessage);
            }
        }
    });
});

        

            $("#edit-user-form").submit(function(event){
                    event.preventDefault(); // Evitar la recarga de la página
                    $.ajax({
                        type: "PUT",
                        url: "https://services-project-production.up.railway.app/rest/edit/"+$('#ecedula').val(), // Ruta para editar un estudiante
                        dataType: "json",
                        contentType: 'application/json',
                        data: JSON.stringify({
                            "nombre": $('#enombre').val(),
                            "apellido": $('#eapellido').val(),
                            "direccion": $('#edireccion').val(),
                            "telefono": $('#etelefono').val()
                        }),
                        success: function(response) {
                            $('#editUser').modal('hide');
                            loadUsers(); // Actualizar la tabla después de editar un estudiante
                        },
                         error: function(xhr, status, error) {
          
            var errorMessage = xhr.responseText;
            alert("Usuario ya existente" );
        }
                    });
                });
                  $("#tblUsers").on('click', '.btnEdit', function(){
                        var currentRow = $(this).closest("tr");

                        $('#ecedula').val(currentRow.find("td:eq(0)").text());
                        $('#enombre').val(currentRow.find("td:eq(1)").text());
                        $('#eapellido').val(currentRow.find("td:eq(2)").text());
                        $('#edireccion').val(currentRow.find("td:eq(3)").text());
                        $('#etelefono').val(currentRow.find("td:eq(4)").text());
                    });
                     $("#tblUsers").on('click', '.btnDelete', function(){
                            var currentRow = $(this).closest("tr");
                            var cedula = currentRow.find("td:eq(0)").text();
                            $.ajax({
                                url: "https://services-project-production.up.railway.app/rest/delete/" + cedula, // Ruta para eliminar un estudiante
                                type: "DELETE",
                                success: function(){
                                    loadUsers(); // Actualizar la tabla después de eliminar un estudiante
                                }
                            });
                        });
    });

    function loadUsers() {
        $.ajax({
            url: "https://services-project-production.up.railway.app/rest/all",
            type: "GET",
            dataType: "json",
             beforeSend: function(xhr) {   //Include the bearer token in header
            xhr.setRequestHeader("Authorization", 'Bearer ' + token);
        },
            success: function(data) {
                var btnEdit = '<button type="button" class="btn btn-primary btnEdit" data-bs-toggle="modal" data-bs-target="#editUser"> Editar</button>';
                var btnDelete = '<button type="button" class="btn btn-primary btn-danger btnDelete" data-bs-toggle="modal" data-bs-target="#editUserModal"> Eliminar</button>';
                var html = "";

                for (let i = 0; i < data.length; i++) {
                    html += "<tr><td>" + data[i].cedula + "</td><td>" +
                            data[i].nombre + "</td><td>" +
                            data[i].apellido + "</td><td>" +
                            data[i].direccion + "</td><td>" +
                            data[i].telefono + "</td><td>" +
                            btnEdit + " " + btnDelete + "</td></tr>";
                }

                $('#tblUsers tbody').html(html);
            }
        });
    }

</script>

</body>
</html>
